# Presentation Folders
Data
Presentations
RelevantPapers/*


# Python / IDE files
.vscode/settings*
*__pycache__
.vscode*

# Large Data folders
Checkpoints/*
Checkpoints_all/*
Checkpoints_all_cities/*
*zip

#Shell scripts
*.sh

# Jupyter
*.ipynb*